Package: com.noisyflake.shortcutenabler
Name: ShortcutEnabler
Depends: mobilesubstrate
Version: 1.2.1
Architecture: iphoneos-arm
Description: Enable the lockscreen flashlight / camera buttons on all devices.
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
