Package: com.noisyflake.shortcutenabler
Name: ShortcutEnabler
Depends: mobilesubstrate
Version: 1.1.1
Architecture: iphoneos-arm
Description: Enable the lockscreen flashlight / camera buttons on all devices.
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.shortcutenabler
Maintainer: NoisyFlake
Author: NoisyFlake
Section: Tweaks
